<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CloudHu.weather.mapper.AdminMapper">
    <!--  public int Weather(User user);  -->
    <insert id="addUserWeather" >
        insert ignore into user_weather_t
        values(#{phone},#{province},#{city})
    </insert>

    <!--  public List<User> getAllUserWeather();  -->
    <select id="getAllUserWeather" resultType="com.CloudHu.weather.entity.UserWeather">
        select * from user_weather_t
    </select>
</mapper>